<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mobapde.bloodnet">

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/temp_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".AboutBloodNetActivity" />
        <activity android:name=".TempNavigationActivity" />
        <activity android:name=".FilterPostActivity" />
        <activity android:name=".ViewHospitalActivity" />
        <activity android:name=".ViewPatientActivity" />
        <activity android:name=".ViewProfileActivity" />
        <activity
            android:name=".EditProfileFABActivity"
            android:label="@string/title_activity_edit_profile_fab"/>
        <activity android:name=".MyPostActivity" />
        <activity android:name=".EditPostActivity" />
        <activity android:name=".MyPledgeActivity" />
        <activity android:name=".RequirementsActivity" />
        <activity android:name=".CreatePostActivity" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="edu.mobapde.bloodnet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>